/* Element Level Styling */
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 10px 30px; /* Unique to menu.html */
}

h3 {
    text-decoration: underline;
}

/* Header Section Global Styling */
#header-description {
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

/* Section Container Styling */
.section-container,
#ahl-container,
#map-directions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

#ahl-container {
    height: fit-content;
}

.ahl-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    width: 90%;
}

.link-button {
    background-color: darkblue;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    text-decoration: none;
}

#email-button{
    margin: 5px 0px 0px 0px;
}

#directions-button-top {
    margin: 0;
}

iframe {
    margin: 20px 0;
}

/* Media Queries */
/* == Tablet Optimized: 301px - 768px == */
@media (min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #ahl-container {
        flex-direction: row;
        align-items: flex-start;
    }

    #map-directions-container {
        margin: 20px auto;
    }

    #directions-button-top {
        display: none;
    }

    #directions-button-bottom {
        display: block;
    }
}
