/* Page Element Level Styling */
h1 {
    margin: 10px 0;
    padding: 10px 30px; /* Unique to menu.html */
}

/* Header Section Global Styling */
.header-container,
.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
}

#header-description {
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

/* Menu Table Styling */
.menu-section {
    width: 100%;
    margin: 10px 40px;
}

table {
    width: 90%;
    margin: 0 auto;
    border: 1px solid white;
}

th, td {
    text-align: left;
    padding: 5px;
    font-size: 18px;
}

tr:hover,
tr:focus {
    background-color: white;
    color: purple;
    font-weight: bold;
}

td:hover {
    font-size: 1.5em;
}

#bottom-spacer {
    height: 50px;
    width: 100%;
}
